.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.75rem;
    margin-top: 1rem;
    padding-bottom: 2rem;
}
.About__image{
    width: 20rem;
    height:20rem ;
}
.About__descrirption{
    color: #12121f;
    font-size: var(--size-base);
    max-width: 60ch;
}
.About__contentdescription{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

}
/* xs */
/* @media (min-width:475px) {} */
/* sm */
/* @media (min-width: 640px) { } */
/* md*/
@media (min-width: 768px) { 
    .About__contentdescription{
        font-size: var(--size-2xl);
        gap: 1rem;
        max-width: 60ch;
    }
    .title{
        font-size: var(--size-4xl);
    } 
}
/* lg */
@media (min-width: 1024px) { 
    .about{
        flex-direction: row ;
    }  
    .About__image{
       max-width:60rem;
        max-height:60rem ;
    }
    .About__contentdescription{
        font-size: var(--size-xl);
        gap: 1rem;
        max-width: 50ch;
    }
    .title{
        font-size: var(--size-4xl);
    }
}
/* xl */
@media (min-width: 1280px) {
    .About__image{
     width: 37rem;
     height: 37rem;
     margin-right: 4rem;
    }
     .About__contentdescription{
         font-size: var(--size-2xl);
         gap: 0.5rem;
         max-width: 100ch;
     }
     .title{
         font-size: var(--size-4xl);
     }
 }
/* 2xl */
@media (min-width: 1536px) {
    .About__image{ 
      width: 35rem;
     height:35rem;
 
    }
    .About__contentdescription{
        font-size: var(--size-2xl);
        gap:2rem;
        max-width: 60ch;
    }
    .title{
        font-size: var(--size-5xl);
    }
  } 