
.section-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.75rem;
    margin-top: 1rem;
	margin-bottom: 0rem;
    padding-bottom: 2rem;
	padding-top: 2rem;
	background-color: #315467;
    color: #fff;
}


.section-contact .container:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
    opacity: 0.10;
}

.section-contact .content .sm-title {
    margin-bottom: 10px;
}

.section-contact .content .sm-title .line {
    display: inline-block;
    margin-right: 20px;
    width: 70px;
    height: 3px;
    background-color: #5dadc4;
}
.section-contact .content .social-links {
    margin-bottom: 70px;
}
.section-contact .content .social-links li {
    display: inline-block;
}

.section-contact .content .social-links li:not(:last-child) {
	margin-right: 10px;
}

.section-contact .content .social-links li a {
	display: inline-block;
	width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    border: 2px solid #5dadc4;
    border-radius: 50%;
    font-size: 30px;
    transition: all .4s;
	color: #fff;
}

.section-contact .content .social-links li a:hover {
	background-color: #5dadc4;
}

.section-contact .content .hire-us {
    max-width: 70%;
    background-color: #12121f;
    border-radius: 80px;
    padding: 10px 10px 10px 60px;
    transition: background-color .4s;
}

.section-contact .content .hire-us span {
    font-size: 25px;
    font-weight: 700;
}

.section-contact .content .hire-us button {
    border: none;
    border-radius: 30px;
    background-color: #5dadc4;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    padding: 15px 30px;
    outline: none;
    transition: all .4s;
}

.section-contact .infos .single-info {
	display: flex;
	
}

.section-contact .infos .single-info:not(:last-child) {
    margin-bottom: 50px;
}

.section-contact .infos .single-info .icon {
	position: relative;
	margin-right: 20px;
    padding-top: 12px;
	width:80px;
	
	
}

.section-contact .infos .single-info .icon:before {
	content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 90px;
    height: 1px;
    background-color: #5dadc4;
    transform: rotate(-60deg);
    transform-origin: 100%;
}

.section-contact .infos .single-info .icon i {
	font-size: 25px;
	color: white;
}

.section-contact .infos .single-info .text {
	width: calc(100% - 60px);
	
}

.section-contact .infos .single-info .text h3 {
	margin-bottom: 0px;
    font-size: 22px;
    font-weight: 700;
	background-color: #315467;
}

.section-contact .infos .single-info .text p {
	line-height: 1.85em;
	margin: 0;
	background-color: #315467;
}
.section-contact .infos .single-info .text a{
	text-decoration: none;
    color: inherit;
}
/* xs */
@media (max-width:575.98px) {
	.section-contact .content {
	    margin-bottom: 10px;
		
	}

	.section-contact .content .title {
	    font-size: 35px;
	}
	.section-contact .content .hire-us {
		max-width: none;
	}

	.section-contact .content .hire-us {
		padding-left: 20px;
	}

	.section-contact .content .hire-us span {
		font-size: 18px;
	}

	.section-contact .content .hire-us button {
	    padding: 15px 20px;
	}
}
/* sm */
@media (min-width:576px) {
	.section-contact .content  {
	   margin: 0 0;
	   width: 100%;
	}
	.section-contact .content .hire-us {
		max-width: none;
	}
	
	}
/* md*/
@media (min-width: 768px) {
	

	.section-contact .content .title {
	    font-size: 40px;
	}
	.section-contact .content .hire-us {
		max-width: none;
	}
	
   .section-contact .content .sm-title {
    margin-bottom: 1px;
}
 }
 @media (min-width: 1024px){
	
	.section-contact .content {
	  
		flex-direction:row;
	}

	.section-contact .content .title {
	    font-size: 40px;
	}
	.section-contact .content .hire-us {
		max-width: none;
	}
	
   .section-contact .content .sm-title {
    margin-bottom: 1px;
}
.section-contact {

    flex-direction: row;

}

 }
/* lg */
/* @media (min-width: 1440px) { } */
/* xl */
/* @media (min-width: 1280px) { } */
/* 2xl */
/* @media (min-width: 1536px) {  

} */
