/* Mobile first */

.mobile__nav{
position: absolute;
top: 0;
left: 0;
display: none;
width: 100%;
height: 100%;
justify-content: center;
align-items: center;
background-color: #f8fafc;
z-index: 999;
text-align: center;
}
.mobile__menue{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.mobile__link{
    font-size: var(--size-sm);
    font-weight: 600;
    color: #12121f;
}
.mobile__link:hover{
    color: #5dadc4;
    transition: color 0.3s;
    text-decoration: none;

}
.mobile__line{
   border: 1px solid #12121f;
   padding-right: 1.5rem;
   width: 1.5rem;
   height: 0.2rem;
   background-color: #12121f;
   
}
.mobile__sun{
    width: var(--size-xl);
    height:var(--size-xl) ;
    display:block;
}